# Ignore the virtual environment
venv/
# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore build and dist folders from PyInstaller
build/
dist/
*.spec

# Ignore executable files
*.exe

# Ignore any system-specific files (e.g., DS_Store, Thumbs.db)
.DS_Store
Thumbs.db

# Ignore your IDE settings (optional)
.vscode/
.idea/